/* ---------------------------------------Fonts-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');
/* --------------------------------------------------------------------------------------------- */

/* ---------------------------- header --------------------------- */
.headerTop{
	max-width:100%;
	min-height:100%;
	background:#C40316;
	padding: 1.5% 0;
}
.headerTop img{
	position:absolute;
	top:-2.8em;
	max-width:150px;
	max-height:150px;
}
.headerTop .container{
	min-width:80%;
}
.headerTop-left input{
	background: #fff;
    border: 0;
    border-radius: 2px;
    font-size: 12px;
    height: 40px;
    padding: 5px 40px 5px 15px;
    width: 100%;
}
.headerTopRight-item{
	display:flex;
	font-family: 'Roboto', sans-serif;
	color:white;
	font-size:13px;
}
.headerTopRight-item span:nth-child(1){
	flex:1;
	font-size:2em;
}
.headerTopRight-item span:nth-child(2){
	flex:2;
}
.headerTopRight-item .cart{
	font-size:3em;
	color:white;
}

.headerBottom{
	background:#F1F0F1;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.25);
	padding:0.7% 0;
}
.headerBottom .col-md-8{
	font-size:12px;
	font-family: Roboto,sans-serif;
    line-height: 1.5;
    display: flex;
}
.headerBottom .col-md-8 .col-md{
	margin-left:1.2em;
	font-weight:600;
	letter-spacing:0.3px;
	cursor: pointer;
}
/* end header */

/* bannerNav */
#bannerNav{
	margin-top:0.3em;
}
#bannerNav .container{
	min-width:85%;
}
.bannerNav-left{
	background:white;
	padding-top:1px;
	padding-bottom:1px;
}
.navPrimaryOne{
	list-style-type: none;
}
.navPrimaryOne li{
	line-height:2.4em;
	cursor: pointer;
}
.bannerNav-center{
	padding:0 5px;
}
.bannerSlider-button{
	display:flex;
	background:white;
}
.bannerSlider-button a{
	flex:1;
	font-size:12px;
	font-weight:600;
	cursor: pointer;
	text-align:center;
	padding:2%;
	background:none;
	border:none;
	text-decoration:none;
	color:black;
	display: block;
	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
	    -ms-transition: all 0.2s;
	     -o-transition: all 0.2s;
	        transition: all 0.2s;
}
.bannerSlider-button a:focus{
	outline:none;
	background:#EAEAEA;
	border-bottom: 2px solid #D42333;
}
.bannerNav-right{
	padding:0;
	display:flex;
	flex-direction: column;
}
.bannerNav-right div{
	flex:1;
}
/* end bannerNav */

/* ------------------------------- main------------------------------- */
#main{
	margin-top:1em;
}
#main .container{
	min-width:85%;
}
/* row One */
.rowOne{
	padding:0.5% 0;
	background:#FFE4E4
}
.rowOne marquee{
	max-width:95%;
}
.rowOne a{
	margin-right:15em;
	color:black;
	text-decoration:none;
	cursor: pointer;
}
/* row two */
.rowTwo{
	margin-top: 1em;
	background:white;
	display:flex;
}
.rowTow-left{
	flex:1;
}
.rowTow-right{
	flex:4;
}
.rowTow-left p{
	position:absolute;
	bottom:1em;
	right:1em;
	letter-spacing:1.2px;
	text-transform: uppercase;
	color:white;
	cursor: pointer;
	display: block;
}
.rowTwo .rowTow-left{
	background-image: url("./../images/san_tv_gia_me_ly (1).png"); 
	background-size: 100% 100%;
	max-width:100%;
	min-height:440px;
}
.rowTow-right .rowTowProduct-box{
	padding:0 0.2%;
}
.rowTow-right .slick-prev,
.rowTow-right .slick-next{
	z-index: 1;
	display:none !important;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
	    -ms-transition: all 1s;
	     -o-transition: all 1s;
	        transition: all 1s;
}
.rowTow-right:hover .slick-prev,
.rowTow-right:hover .slick-next{
	display: block !important;
}

.rowTowProduct-box .nameProduct{
	color: #333;
    margin-top: 10px;
    word-break: break-word;
    font-family: Roboto,sans-serif;
    font-size:14px;
}
.rowTowProduct-box .price, 
.rowTowProduct-box .priceOnline{
	font-weight:600;
	color: #333;
	font-size:16px;
}
.rowTowProduct-box .priceOnline{
	font-size:13px;
	color:red;
}
.rowTowProduct-box .price::after,
.rowTowProduct-box .priceOnline::after{
	content: ' (Giá bán lẻ)';
	font-weight:500;
	font-size:12px;
	font-style:italic;
}
.rowTowProduct-box .priceOnline::after{
	content: ' (Giá tốt Online)';
}
.rowTowProduct-box .start i{
	color:#ffc120;
}
.rowTowProduct-box .gifts{
	color:red;
}
.rowTowProduct-box .meter{
	background-image: linear-gradient(-90deg, red, yellow);
	border-radius:20px;
	font-size:12px;
	padding:2px 3%;
}
.rowTowProduct-box .meter i{
	border: 1px solid white;
	padding: 2px;
	border-radius:50%;
	background:white;
	color:red;
}
.rowTowProduct-box .meter span{
	text-transform: uppercase;
	margin-left:0.5em;
	color:white;
}
/* row three */
.rowThree{
	margin-top:1em;
	background:#C40316;
	display: flex;
	text-align:center;
}
.rowThree i{
	color:white;
	font-size:2em;
	margin: 0.3em 0;
}
.rowThree span{
	color:white;
	text-transform: uppercase;
	font-weight:800;
	font-size:1.1em;
}
.rowThree h3{
	color:#FE9595;
	font-weight:700;
	font-size:1.5em;
	margin-top:5px;
}
.rowThree p{
	color:#FE9595;
	font-size:0.8em;
}
.rowThree-active{
	background: #DA2423;
	color:white;
}
.rowThree-active h3,
.rowThree-active p{
	color:white;
}
/* row four */
/* .rowTowProduct-box .nameProduct{
	color: #333;
    margin-top: 10px;
    word-break: break-word;
    font-family: Roboto,sans-serif;
    font-size:14px;
}
.rowTowProduct-box .price, 
.rowTowProduct-box .priceOnline{
	font-weight:600;
	color: #333;
	font-size:16px;
}
.rowTowProduct-box .priceOnline{
	font-size:13px;
	color:red;
}
.rowTowProduct-box .price::after,
.rowTowProduct-box .priceOnline::after{
	content: ' (Giá bán lẻ)';
	font-weight:500;
	font-size:12px;
	font-style:italic;
}
.rowTowProduct-box .priceOnline::after{
	content: ' (Giá tốt Online)';
}
.rowTowProduct-box .start i{
	color:#ffc120;
}
.rowTowProduct-box .gifts{
	color:red;
}
.rowTowProduct-box .meter{
	background-image: linear-gradient(-90deg, red, yellow);
	border-radius:20px;
	font-size:12px;
	padding:2px 3%;
}
.rowTowProduct-box .meter i{
	border: 1px solid white;
	padding: 2px;
	border-radius:50%;
	background:white;
	color:red;
}
.rowTowProduct-box .meter span{
	text-transform: uppercase;
	margin-left:0.5em;
	color:white;
}
 */
/* --------------------------------- end main ------------------------------ */