/* ---------------------------------------Fonts-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');
/* --------------------------------------------------------------------------------------------- */
body{
	background: #F1F0F1 !important;
}
/* ---------------------------- header --------------------------- */
#header > .container-fluid{
	padding:0;
}
.headerTop{
	max-width:100%;
	min-height:100%;
	background:#C40316;
	padding: 1.5% 0;
}
/* Tùy biến giao diện index */
.headerTop #logoTwo{
	display: none;
}
#headerHome #headerBottom-2{
	display: none;
}
/* end */
.headerTop img{
	position:absolute;
	top:-2.8em;
	max-width:150px;
	max-height:150px;
}
.headerTop .container{
	min-width:80%;
}
.headerTop-left input{
	background: #fff;
    border: 0;
    border-radius: 2px;
    font-size: 12px;
    height: 40px;
    padding: 5px 40px 5px 15px;
    width: 100%;
}
.headerTopRight-item{
	display:flex;
	font-family: 'Roboto', sans-serif;
	color:white;
	font-size:13px;
	cursor: pointer;
}
.headerTopRight-item span:nth-child(1){
	flex:1;
	font-size:2em;
}
.headerTopRight-item span:nth-child(2){
	flex:2;
}
.headerTopRight-item .cart{
	font-size:3em;
	color:white;
}
.headerBottom{
	background:#F1F0F1;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.25);
	padding:0.7% 0;
}
.headerBottom .col-md-8{
	font-size:12px;
	font-family: Roboto,sans-serif;
    line-height: 1.5;
    display: flex;
}
.headerBottom .col-md-8 > div{
	margin-right:1em;
	font-weight:600;
	letter-spacing:0.4px;
	cursor: pointer;
}
/* end header */

/* bannerNav */
#bannerNav{
	margin-top:0.3em;
}
#bannerNav .container{
	min-width:85%;
}
.bannerNav-left{
	padding:0;
	background:white;
}
.navPrimaryOne{
	list-style-type: none;
}
.navPrimaryOne li{
	line-height:2.4em;
	cursor: pointer;
}
.bannerNav-center{
	padding:0 5px;
}
.bannerSlider-button{
	display:flex;
	background:white;
}
.bannerSlider-button a{
	flex:1;
	font-size:12px;
	font-weight:600;
	cursor: pointer;
	text-align:center;
	padding:2%;
	background:none;
	border:none;
	text-decoration:none;
	color:black;
	display: block;
	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
	    -ms-transition: all 0.2s;
	     -o-transition: all 0.2s;
	        transition: all 0.2s;
}
.bannerSlider-button a:focus{
	outline:none;
	background:#EAEAEA;
	border-bottom: 2px solid #D42333;
}
.bannerNav-right{
	padding:0;
	display:flex;
	flex-direction: column;
}
.bannerNav-right div{
	flex:1;
}
.navPrimaryOne .content-nav{
	/* background:red; */
	position: absolute;
	min-width:500%;
	max-height:auto;
	z-index: 1;
	left:15em;
	top:0;
	display: none;
}
.navPrimaryOne li{
	padding:0 0 0 1.5em;
}
.navPrimaryOne > li:hover{
	background: #C40316;
	color:white;
}
.navPrimaryOne > li:hover div{
	color:black;
}
.navPrimaryOne > li:hover .content-nav{
	display: block;
}

.contentNav-list{
	background:white;
	width:99.6%;
	margin:0 auto;
	margin-left:5px;
	padding-bottom:9.6em;
}
.contentNav-list .col-md-2{
	text-align:right;
	color:#C40316 !important;
	font-weight:700;
}
.contentNav-list .col-md-6 {
	display: flex;
	text-align:center;
}
.contentNav-list .col-md-6 div{
	flex:1;
	border-left:1px solid black;
	border-right:1px solid black;
	font-size:12px;
}
.contentNav-list .col-md-6 div:hover{
	font-weight:500;
}
/* end bannerNav */

/*----------------------------- formLogin admin ---------------------*/
.FormLoginAD{
	background-color:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	position: fixed;
	z-index:1000;
	top:0;
	display: none;
}
#btnCloseLogin{
	width: 10%;
	height:10%;
}
.FormLoginAD-box{
	background: #c40316;
	max-width:60%;
	max-height:auto;
	padding-bottom:4em;
	margin:0 auto;
	transform: translateY(15%);
}
.showErrorLogin{
	height:1.5em;
}
.showErrorLogin .label-info{
	background:black;
	color: white;
}
.btn-LoginAD{
	background: black;
	color:white;
}
.btn-LoginAD:focus{
	outline: none;
	box-shadow: none;
}
/*----------------------------- end formLogin admin ---------------------*/

/* ------------------------------- main------------------------------- */
#main{
	margin-top:1em;
}
#main .container{
	min-width:85%;
}
/* row One */
.rowOne{
	padding:0.5% 0;
	background:#FFE4E4
}
.rowOne marquee{
	max-width:95%;
}
.rowOne a{
	margin-right:15em;
	color:black;
	text-decoration:none;
	cursor: pointer;
}
/* row two */
.rowTwo{
	margin-top: 1em;
	background:white;
	display:flex !important;
}
.rowTwo-left{
	flex:1 !important;
}
.rowTwo-right{
	flex:4 !important;
}
.rowTwo-left p{
	position:absolute;
	bottom:1em;
	right:1em;
	letter-spacing:1.2px;
	text-transform: uppercase;
	color:white;
	cursor: pointer;
	display: block;
}
.rowTwo .rowTwo-left{ 
	background-size: cover;
}
.rowTwo-right img{
	max-height:180px;
	min-height:180px;
	max-width: 100%;
	min-width:100%;
}
.rowTwo-right .rowProduct-box{
	padding:0 1%;
}
/* .rowTwo-right .slick-prev{
	background: url('./../images/img_439143.png');
	background-size: cover
} */
.rowTwo-right .slick-prev,
.rowTwo-right .slick-next{
	z-index: 1;
	display:none !important;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
	    -ms-transition: all 1s;
	     -o-transition: all 1s;
	        transition: all 1s;
}
.rowTwo-right:hover .slick-prev,
.rowTwo-right:hover .slick-next{
	display: block !important;
}

/* row three */
.rowThree{
	margin-top:1em;
	background:#C40316;
	display: flex;
	text-align:center;
}
.rowThree i{
	color:white;
	font-size:2em;
	margin: 0.3em 0;
}
.rowThree span{
	color:white;
	text-transform: uppercase;
	font-weight:800;
	font-size:1.1em;
}
.rowThree h3{
	color:#FE9595;
	font-weight:700;
	font-size:1.5em;
	margin-top:5px;
}
.rowThree p{
	color:#FE9595;
	font-size:0.8em;
}
.rowThree-active{
	background: #DA2423;
	color:white;
}
.rowThree-active h3,
.rowThree-active p{
	color:white;
}
/* row four */
.rowFour{
	background: white;
	padding-bottom:1em;
}
.rowFour img{
	max-height:230px;
	min-height:230px;
}
.rowFour .rowProduct-box{
	padding:0 0.2%;
}
.rowFour .slick-next{
	right:5px !important;
}
.rowFour .slick-prev{
	left:0px !important;
}
.rowFour .slick-prev,
.rowFour .slick-next{
	z-index: 1;
	display:none !important;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
	    -ms-transition: all 1s;
	     -o-transition: all 1s;
	        transition: all 1s;
}
.rowFour:hover .slick-prev,
.rowFour:hover .slick-next{
	display: block !important;
}
/* row title */
.rowTitle{
	padding:1em 0;
	text-align:center;
}
.rowTitle h2{
	font-size:2em;
	color:#D10A00;
	text-transform:uppercase;
}
.rowTitle h2::after{
	content:' Tại phong vũ';
	text-transform: uppercase;
	color:black;
}
.rowTitle p{
	color:#767676;
}
/* row five */
.rowFive{
	display:flex;
}
.rowFive > div{
	flex: 1;
}
.rowFive img{
	max-height:230px;
	min-height:230px;
}
.rowFive .rowProduct-box{
	padding:0 0.5% 1%;
	background: white;
}
.rowFive .rowProductBox-active{
	border:4px solid #3242B2;
	overflow: hidden;
}
.rowFive .rowProductBox-active::after{
	content:'Siêu khuyến mãi';
	background:#3242B2;
	position: relative;
	padding:5em 3em 1em;
	font-size:12px;
	text-transform: uppercase;
	color:white;
	transform: rotate(45deg);
	float:right;
	margin-top:-35em;
	margin-right:-6em;
}
/* row six */
.rowSix{
	display:flex;
	margin-top:0.3em;
}
.rowSix img{
	max-height:230px;
	min-height:230px;
}
.rowSix-left{
	flex:1;
	background: #FFF;
	padding: 1.5em 0 6em;
}
.rowSix-left h3{
	text-align:center;
	text-transform: uppercase;
	font-size:1.2em;
}
.rowSix-left .rowSix-nav{
	list-style-type: none;
	margin-top:2em;
	width:80%;
	margin:0 auto;
	margin-top:2em;
	margin-bottom:2em;
}
.rowSix-left li{
	line-height:1.9em;
	font-weight:600;
	font-size:14px;
	cursor: pointer;
}
.rowSix-left .liActive{
	color:red;
}
.rowSix-left a{
	text-decoration: none;
	margin-left:1.8em;
}
.rowSix-right{
	flex:4;
	margin-left:0.5em;
	display: flex;
}
.rowSix-right .rowProduct-box{
	flex:1;
	padding:0 0.8% 1%;
	background: white;
}
/* row banner */
.rowBanner{
	display:flex;
	margin-top:1.5em;
}
.rowBanner div {
	cursor: pointer;
	margin-right:1em;
}
/* row title 2 */
.rowTitle2{
	margin-top:1.5em;
	display: flex;
}
.rowTitle2 div:nth-child(1){
	flex:8;
}
.rowTitle2 div:nth-child(2){
	flex:1;
}
.rowTitle2 h3{
	font-size:2em;
	color:#3D4781;
}
.rowTitle2 h3::after{
	content:' Đừng để lỡ những sản phẩm công nghệ mới nhất mỗi ngày';
	color:#666666;
	font-size:13px;
	font-weight:600;
}
.rowTitle2 a{
	text-decoration:none;
	margin-left:1em;
}
/* row seven */
.rowSeven img{
	max-height:230px;
	min-height:230px;
}
.rowSeven .rowProduct-box{
	padding:0 0.2% 1%;
	background: #FFF;
}
.rowSeven .slick-prev{
	left:0;
}
.rowSeven .slick-next{
	right:8px;
}
.rowSeven .slick-prev,
.rowSeven .slick-next{
	z-index: 1;
	display:none !important;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
	    -ms-transition: all 1s;
	     -o-transition: all 1s;
	        transition: all 1s;
}
.rowSeven:hover .slick-prev,
.rowSeven:hover .slick-next{
	display: block !important;
}

/* --------------------------------- end main ------------------------------ */

/* ---------------------------------- footer ------------------------------- */
.footer {
	width: 100%;
	height: auto;
	background:white;
	font-family: Arial, Helvetica, sans-serif;
}

.con-full{
	width: 100%;
	height: 100px;
	margin: auto;
	border: 1px solid #e8e8e8;
	background-color:#fff; 
	float: left;
	margin-bottom: 15px;
}
.con-full-fill{
	width : 85%;
	height: 100%;
	margin-left: 98px;
	float: left;
}
.con-top{
	width: 20%;
	height: 100%;
	float: left;
	border-left: 1px solid #e8e8e8;
}
.con-top-one{
	text-align: center;
	margin-top: 25px;
	font-weight: bold;
	color: gray;
	font-size: 12px;
}
.con-mid{
	width: 21.5%;
	height: 100%;
	float: left;
	border-left: 1px solid #e8e8e8;
}
.con-mid-one{
	text-align: center;
	margin-top: 25px;
	font-weight: bold;
	color: gray;
	font-size: 12px;
}
.con-jung{
	width: 19%;
	height: 100%;
	float: left;
	border-left: 1px solid #e8e8e8;
}
.con-jung-one{
	text-align: center;
	margin-top: 25px;
	font-weight: bold;
	color: gray;
	font-size: 12px;
}
.con-bot{
	width: 39.5%;
	height: 100%;
	float: left;
	text-align: center;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;

}
.con-bot-one{
	margin-left: 20px;
	margin-top:8px; 
	float: left;
}

.con-bot-one > span{
	font-size: 14px;
	font-weight: bold;
}
.con-list{
	width: 100%;
	height: 270px;
	margin: auto;
}

.list-one{
	width: 15%;
	height: 100%;
	float: left;
	margin-left: 100px;
}
.list-one > h4 {
	font-size: 15px;
	padding-top:10px;
	padding-bottom: 5px;
}
.list-one > ul > li{
	list-style: none;
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 1.5;

}
li > a:hover{
	color: red;
}

.list-two{
	width: 20%;
	height: 100%;
	float: left;
	margin-left: 0px;
}
.list-two > h4 {
	font-size: 15px;
	padding-top:10px;
	padding-bottom: 5px;
}
.list-two > ul > li{
	list-style: none;
	padding-bottom: 5px;
	font-size: 13px;
}
.list-there{
	width: 16%;
	height: 100%;
	float: left;
	margin-left: 0px;
}
.list-there > h4 {
	font-size: 14px;
	padding-top:10px;
	padding-bottom: 5px;
}
.list-there > ul > li{
	list-style: none;
	padding-bottom: 5px;
	font-size: 13px;
}
.list-four{
	width: 17%;
	height: 100%;
	float: left;
	margin-left: 0px;
}
.list-four > h4 {
	font-size: 15px;
	padding-top:10px;
	padding-bottom: 5px;
}
a > img{
	margin: 2px;
	width : 40px;
	height: 40px;
}

.list-five{
	width: 16%;
	height: 100%;
	float: left;
	margin-left: 0px;
	padding: 0px;

}
p > img{
	width :230px;
	height: 90px;
}
h4{
	padding-bottom: 8px;
}
.con-cell{
	width: 100%;
	height: 240px;
	margin: auto;
}

.con-cell-left{
	width: 20%;
	height: 100px;
	float: left;
	margin-left: 100px;
	text-align: center;
}
.con-cell-left-one{
	width: 25%;
	height: 100px;
	float: left;
}
.img-left-one > img{
	width : 30px;
	height: auto;
}
.img-left-one > span{
	font-size: 13px;
}
.name-con-left > p{
	font-weight: bold; 
	font-size: 15px;
	color: #6c757d;
}
.con-cell-left-two{
	width: 25%;
	height: 100%;
	float: left;
}
.img-left-two > img{
	width : 30px;
	height: auto;
}
.img-left-two > span{
	font-size: 13px;
}

.con-cell-left-there{
	width: 25%;
	height: 100%;
	float: left;
}
.con-cell-left-four{
	width: 25%;
	height: 100%;
	float: left;
}
.con-cell-right{
	margin-left: 30px;
	width: 55%;
	height: 100px;
	float: left;
}
.h4i{
	font-size: 16px;
	color: #6c757d;
}
.imgright > img{
	width : 800px;
	height: 55px;
}
.con-end{
	width: 100%;
	height: 320px;
	background-color: #f8f8f8;
	margin: auto;
}  
.con-end-one{
	height: 100%;
	width : 85%;
	margin: auto;
	font-size: 11.5px;
	color: rgba(0,0,0,.87);
	padding-top : 15px;
}
.con-off{
	width :100%;
	height: 120px;
}
.con-off-all{
	height: 100%;
	width : 85%;
	margin: auto;
}
.off-one{
	height: 100%;
	width : 44%;
	float: left;
	padding-top:24px;
}
.off-one > h3{
	font-size: 14px;
}
.off-one > p{
	font-size: 12px;
}
.off-two{
	height: 100%;
	width : 56%;
	float: left;
	font-size: 12px;
	padding-top:50px;
}
.off-two > p{
	float : right;
	line-height: 1;
}
/* -------------------------------------- end footer ---------------------------- */

/* --------------------------------------- product ------------------------------ */
.rowProduct-box {
	cursor: pointer;
	outline: none;
}
.rowProduct-box:focus{
	outline: none;
	border-color: none;
}
.rowProduct-box .nameProduct{
	color: #333;
    margin-top: 10px;
    word-break: break-word;
    font-family: Roboto,sans-serif;
    font-size:14px;
}
.rowProduct-box .salePersen{
	border: 1px solid red;
	color:red;
	border-radius:50%;
	padding:0.5em;
	position: relative;
	z-index: 10;
	top:1em;
	font-size:11px;
}
.rowProduct-box .price, 
.rowProduct-box .priceOnline{
	font-weight:600;
	color: #333;
	font-size:16px;
}
.rowProduct-box .priceOnline{
	font-size:13px;
	color:red;
}
.rowTowProduct-box .price::after,
.rowTowProduct-box .priceOnline::after{
	content: ' (Giá bán lẻ)';
	font-weight:500;
	font-size:12px;
	font-style:italic;
}
.rowProduct-box .priceOnline::after{
	content: ' (Giá tốt Online)';
}
.rowProduct-box .start i{
	color:#ffc120;
}
.rowProduct-box .gifts{
	color:red;
}
.rowProduct-box .meter{
	background-image: linear-gradient(-90deg, red, yellow);
	border-radius:10px;
	padding:0 2%;
}
.rowProduct-box .meter i{
	border: 1px solid white;
	/* padding: 2px; */
	border-radius:50%;
	background:white;
	color:red;
	font-size:12px;
}
.rowProduct-box .meter span{
	text-transform: uppercase;
	margin-left:0.5em;
	color:white;
	font-size:10px;
}
/* --------------------------------------- product ------------------------------ */

/* --------------------------------------- cart -------------------------------- */
.showCheckNull img{
	margin: 0 auto;
}
.showCheckNull-content{
	margin-bottom:1em;
	margin-top:1em;
}
.showCheckNull-content h2{
	font-weight: 600;
	margin-bottom: 1em;
	font-size:2em;
}
.showCheckNull-content button{
	background:#D10A00;
	color: white;
	text-transform: uppercase;
	padding: 1em 3em;
	font-weight: 600;
	transition: all 1s;
}
.showCheckNull-content button:hover{
	background:black;
	color:white;
}