<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>150</h3>

        <p>New Orders</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>53<sup style="font-size: 20px">%</sup></h3>

        <p>Bounce Rate</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>44</h3>

        <p>User Registrations</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger"  [routerLink]="['/admin/add']">
      <div class="inner">
        <h3>...</h3>

        <p>Add Product</p>
      </div>
      <div class="icon">
        <i class="ion ion-plus"></i>
      </div>
      <a class="small-box-footer">Add now... <i class="fas fa-plus"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>
<!-- /.row -->


<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Images</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Active</th>
      <th>Category</th>
      <th>Discount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of product.docs">
      <td>{{ item.id }}</td>
      <td>{{ item.title }}</td>
      <td><img src="./../../../../assets/theme/images/product/{{ item.images }}" width="100px" height="100px"></td>
      <td>{{ item.price }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.is_active }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.discount }}</td>
      <td>
        <button type="button" class="btn btn-warning" [routerLink]="['/admin/edit',item.id]">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="onDeactive(item.id)" >Deactive</button>
      </td>
    </tr>
  </tbody>
</table>


<hr>
<table class="table table-dark">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Images</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Active</th>
      <th>Category</th>
      <th>Discount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productDeactive.docs">
      <td>{{ item.id }}</td>
      <td>{{ item.title }}</td>
      <td><img src="{{ item.images }}" width="100px" height="100px"></td>
      <td>{{ item.price }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.is_active }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.discount }}</td>
      <!-- <td>
        <button type="button" class="btn btn-warning" [routerLink]="['/admin/edit',item.id]">Edit</button>
      </td> -->
      <td>
        <button type="button" class="btn btn-success" (click)="onActive(item.id)">Avtive</button>
      </td>
    </tr>
  </tbody>
</table>