<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name=description content="Design: Nguyễn Văn Tài">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Layout Cover PhongVu.vn</title>
	<!-- CSS Plugin -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/slick.css">
	<link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="assets/lightslider-master/src/css/lightslider.css">
	<!-- CSS Design -->
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="assets/css/detail.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/reponsive.css">
	<!-- ICON FontFA-->
	<link rel="stylesheet" type="text/css" href="assets/icon/css/all.min.css">
</head>
<body style="background: #F1F0F1;">
	<!-- header -->
	<div id="header" class="header-headerOne">
		<div class="container-fluid">
			<div class="row">
				<!-- header top -->
				<div class="headerTop headerTopDetail">
					<div class="container">
						<div class="col-md-2">
							<img src="./assets/images/logo-PV-new_2.png" class="img-responsive" alt="Image">
						</div>
						<div class="col-md-10">
							<div class="col-md-4 headerTop-left">
								<input type="search" name="txtSearch" class="form-control" placeholder="Nhập tên sản phẩm, mã sản phẩm, từ khóa cần tìm...">
							</div>
							<div class="col-md-8 headerTop-right">
								<div class="col-md-3">
									<div class="headerTopRight-item">
										<span>
											<i class="fas fa-percent"></i>
										</span>
										<span>
											<p>Chương trình</p>
											<p>khuyến mãi</p>
										</span>
									</div>
								</div>
								<div class="col-md-3">
									<div class="headerTopRight-item">
										<span>
											<i class="fas fa-user-circle"></i>
										</span>
										<span>
											<p>Đăng nhập</p>
											<p>Đăng ký</p>
										</span>
									</div>
								</div>
								<div class="col-md-3">
									<div class="headerTopRight-item">
										<span>
											<i class="fas fa-store"></i>
										</span>
										<span>
											<p>Kiểm tra</p>
											<p>đơn hàng</p>
										</span>
									</div>
								</div>
								<div class="col-md-3">
									<div class="headerTopRight-item">
										<span class="cart">
											<i class="fas fa-shopping-cart"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- headerBottom -->
				<div class="headerBottom headerBottomDetail">
					<div class="container">
						<div class="col-md-4 pull-left">
							<i class="fas fa-align-justify" id="showNavList"></i>
						</div>

						<div class="col-md-8 pull-right">
							<div class="col-md">
								<i class="fas fa-angle-down"></i>
								<span>Sản phẩm vừa xem</span>
							</div>
							<div class="col-md">
								<i class="fas fa-hospital"></i>
								<span>Hệ thống Showroom</span>
							</div>
							<div class="col-md">
								<i class="fas fa-phone-volume"></i>
								<span>1900 1835</span>
							</div>
							<div class="col-md">
								<i class="fab fa-whmcs"></i>
								<span>Kiểm tra bảo hành</span>
							</div>
							<div class="col-md">
								<i class="fas fa-bell"></i>
								<span>Thông báo</span>
							</div>
							<div class="col-md">
								<i class="fas fa-desktop"></i>
								<span>Xây dựng cấu hình</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /header -->

	<!-- bannerNav -->
	<div id="bannerNav" class="bannerNav-bannerNavOne">
		<div class="container">
			<div class="col-md-2 bannerNav-left" style="display: none;position: absolute;">
				<ul class="navPrimaryOne">
				    <li>Tivi và thiết bị thông minh
				    	<div class="content-nav">
				    		<div class="contentNav-list">
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi bán chạy >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi bán chạy >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Smart Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					QLED / QLED Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					LCD/ LED Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					UHD 4K Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Internet Tivi >
				    				</div>
				    				<div class="col-md-6">
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Thương hiệu Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>LG</div>
				    					<div>Panesonic</div>
				    					<div>Samsung</div>
				    					<div>Sharp</div>
				    					<div>Sony</div>
				    					<div>TCL</div>
				    					<div>Toshiba</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi theo giá tiền >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 10 triệu</div>
				    					<div>10 đến 20 triệu</div>
				    					<div>20 đến 30 triệu</div>
				    					<div>30 đến 40 triệu</div>
				    					<div>Trên 40 triệu</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Thiết bị thông minh >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Đèn cảm ứng</div>
				    					<div>Chăm sóc sức khỏe</div>
				    				</div>
				    			</div>
				    		</div>
				    	</div>
				    </li>
				    <li>Hàng cao cấp gaming
				    	<div class="content-nav">
				    		<div class="contentNav-list">
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi bán chạy >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi bán chạy >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Smart Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					QLED / QLED Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					LCD/ LED Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					UHD 4K Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Internet Tivi >
				    				</div>
				    				<div class="col-md-6">
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Thương hiệu Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>LG</div>
				    					<div>Panesonic</div>
				    					<div>Samsung</div>
				    					<div>Sharp</div>
				    					<div>Sony</div>
				    					<div>TCL</div>
				    					<div>Toshiba</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi theo giá tiền >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 10 triệu</div>
				    					<div>10 đến 20 triệu</div>
				    					<div>20 đến 30 triệu</div>
				    					<div>30 đến 40 triệu</div>
				    					<div>Trên 40 triệu</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Thiết bị thông minh >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Đèn cảm ứng</div>
				    					<div>Chăm sóc sức khỏe</div>
				    				</div>
				    			</div>
				    		</div>
				    	</div>
				    </li>
				    <li>PC và Linh kiện
				    	<div class="content-nav">
				    		<div class="contentNav-list">
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi bán chạy >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi bán chạy >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Smart Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					QLED / QLED Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					LCD/ LED Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					UHD 4K Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Internet Tivi >
				    				</div>
				    				<div class="col-md-6">
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Thương hiệu Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>LG</div>
				    					<div>Panesonic</div>
				    					<div>Samsung</div>
				    					<div>Sharp</div>
				    					<div>Sony</div>
				    					<div>TCL</div>
				    					<div>Toshiba</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi theo giá tiền >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 10 triệu</div>
				    					<div>10 đến 20 triệu</div>
				    					<div>20 đến 30 triệu</div>
				    					<div>30 đến 40 triệu</div>
				    					<div>Trên 40 triệu</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Thiết bị thông minh >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Đèn cảm ứng</div>
				    					<div>Chăm sóc sức khỏe</div>
				    				</div>
				    			</div>
				    		</div>
				    	</div>
				    </li>
				    <li>Laptop và linh kiện, Macbook
				    	<div class="content-nav">
				    		<div class="contentNav-list">
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi bán chạy >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi bán chạy >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Smart Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					QLED / QLED Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					LCD/ LED Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					UHD 4K Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Internet Tivi >
				    				</div>
				    				<div class="col-md-6">
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Thương hiệu Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>LG</div>
				    					<div>Panesonic</div>
				    					<div>Samsung</div>
				    					<div>Sharp</div>
				    					<div>Sony</div>
				    					<div>TCL</div>
				    					<div>Toshiba</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi theo giá tiền >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 10 triệu</div>
				    					<div>10 đến 20 triệu</div>
				    					<div>20 đến 30 triệu</div>
				    					<div>30 đến 40 triệu</div>
				    					<div>Trên 40 triệu</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Thiết bị thông minh >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Đèn cảm ứng</div>
				    					<div>Chăm sóc sức khỏe</div>
				    				</div>
				    			</div>
				    		</div>
				    	</div>
				    </li>
				    <li>Màn hình máy tính</li>
				    <li>Thiết bị ngoại vi
				    	<div class="content-nav">
				    		<div class="contentNav-list">
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi bán chạy >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi bán chạy >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Smart Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					QLED / QLED Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					LCD/ LED Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					UHD 4K Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 44 inch</div>
				    					<div>44 đến 49 inch</div>
				    					<div>50 đến 59 inch</div>
				    					<div>60 đến 69 inch</div>
				    					<div>Trên 69 inch</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Internet Tivi >
				    				</div>
				    				<div class="col-md-6">
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Thương hiệu Tivi >
				    				</div>
				    				<div class="col-md-6">
				    					<div>LG</div>
				    					<div>Panesonic</div>
				    					<div>Samsung</div>
				    					<div>Sharp</div>
				    					<div>Sony</div>
				    					<div>TCL</div>
				    					<div>Toshiba</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Tivi theo giá tiền >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Dưới 10 triệu</div>
				    					<div>10 đến 20 triệu</div>
				    					<div>20 đến 30 triệu</div>
				    					<div>30 đến 40 triệu</div>
				    					<div>Trên 40 triệu</div>
				    				</div>
				    			</div>
				    			<div class="row">
				    				<div class="col-md-2">
				    					Thiết bị thông minh >
				    				</div>
				    				<div class="col-md-6">
				    					<div>Đèn cảm ứng</div>
				    					<div>Chăm sóc sức khỏe</div>
				    				</div>
				    			</div>
				    		</div>
				    	</div>
				    </li>
				    <li>Văn phòng, Mạng, An ninh</li>
				    <li>Phần mền và Phụ kiên</li>
				    <li>Hàng Trưng Bày</li>
				    <li>Deal choáng ngợp</li>
				    <li>PVMail - ACER</li>
				    <li>PVMail - AMD</li>
				    <li>PVMail - MICROSOFT</li>
				    <li>PVMail - WESTERN DIGITAL</li>
				</ul>
			</div>
		</div>
	</div><!-- /bannerNav -->


	<!-- main -->
	<div id="main">
		<div class="container">
			<div class="rowTitleLink-detail">
				<a href="">Trang chủ</a> / <a>chi tiết sản phẩm</a>
			</div>
			
			<!-- row product detail -->
			<div class="container-fluid rowProductDetail">
				<div class="col-md-4 rowProductDetail-left">
					<img src="./assets/images/product1.jpg" class="img-responsive" alt="Image">

					<div class="descriptionDetailProduct">
						<h3>Mô tả</h3>
						<h4>Tên sản phẩm</h4>
						<p>
							- Kích thước: 49" 
							- Độ phân giải: 1920 x 1080 ( Full HD ) 
							- Hệ điều hành: Android 
							- Kết nối mạng: LAN; WiFi 
							- Cổng xuất hình: 4 x HDMI
						</p>	
					</div>
				</div>
				<div class="col-md-8 rowProductDetail-right">
					<div class="rowDetail-1">
						<h2>Android Tivi Sony Full HD 49 inch 49W800F (Tặng khung treo, miễn phí lắp đặt, giao hàng tận nơi)</h2>
						<p>SKU: 1808111</p>
						<div class="evaluate">
							<span>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
							</span>
							<span>5</span>
							<span>
								<button type="button" class="btn btn-default">Xem đánh giá</button>
							</span>
						</div>
					</div>

					<div class="container-fluid rowDetail-2">
						<div class="col-md-4">
							<div class="flash-sale">
								<div>
									<i class="fas fa-fire"></i>
								</div>
								<div>
									Flash Sale
								</div>
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="meter">
								<i class="fas fa-carrot"></i>
								<span>Còn lại: 2</span>
							</div>
						</div>

						<div class="col-md-5">
							Thời gian còn lại: 2 ngày
						</div>
					</div>

					<div class="rowDetail-3">
						<table class="table">
							<tbody>
								<tr>
									<td class="col-md-3">Giá bán lẻ</td>
									<td><a href="">15.400.000đ</a></td>
								</tr>
								<tr>
									<td class="col-md-3">Giá Flash Sale</td>
									<td><a href="">13.590.000đ</a></td>
								</tr>
								<tr>
									<td class="col-md-3">Giá tốt Online</td>
									<td><a href="">13.090.000đ</a></td>
								</tr>
								<tr>
									<td>Khuyến mãi</td>
									<td>
										<span>-5%</span>
									</td>
									<td>
										Giảm thêm 10% tối đa 200K khi nhập mã VNPAY10 hoặc 5% tối đa 500K khi nhập mã VNPAYQR5 <a href="">Xem chi tiết tại đây</a>
									</td>
								</tr>
								<tr>
									<td>Vận chuyển</td>
									<td>
										<span><i class="fas fa-shipping-fast"></i></span>
									</td>
									<td>
										Miễn phí vận chuyển(với đơn hàng trên 500.000đ)
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="rowDetail-4">
						<button type="button" class="btn btn-danger btn-muaNgay">Mua ngay</button>
						<button type="button" class="btn btn-default btn-addToCart">
							<i class="fas fa-shopping-cart"></i>
							Thêm vào giỏ hàng
						</button>
						<button type="button" class="btn btn-default pull-right btn-chatNgay">
							<i class="far fa-comment-dots"></i>
							Chat ngay
						</button>
					</div>

					<div class="rowDetail-5">
						<div role="tabpanel">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active col-md-4">
									<a href="#khuyenmai" aria-controls="home" role="tab" data-toggle="tab">Khuyến mãi hấp dẫn</a>
								</li>
								<li role="presentation" class="col-md-4">
									<a href="#thuonghieu" aria-controls="tab" role="tab" data-toggle="tab">Thương hiệu</a>
								</li>
								<li role="presentation" class="col-md-4">
									<a href="#danhgia" aria-controls="tab" role="tab" data-toggle="tab">Đánh giá & Bình luận</a>
								</li>
							</ul>
						
							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="khuyenmai">
									<h5>Quà tặng kèm khi mua sản phẩm:</h5>
									<p>Khung mâm nghiêng từ 37" - 65" M65N</p>
								</div>
								<div role="tabpanel" class="tab-pane" id="thuonghieu">
									<h5>Giới thiệu về Sony</h5>
									<p>Sony được thành lập từ những năm 1946 tại Nhật Bản. Sony là một trong những thương hiệu toàn cầu nổi tiếng nhất về điện tử tiêu dùng nhờ vào những sáng tạo đột phá mang tính cách mạng và chất lượng sản phẩm. Các sản phẩm của Sony nổi bật như: Tivi, laptop ,tai nghe, loa,.. kết hợp giữa chất lượng sản phẩm-công nghệ hàng đầu, kiểu dáng thiết kế độc đáo luôn chiếm trọn lòng tin của người dùng. Xem các sản phẩm khác của Sony</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /row product detail -->

			<!-- row information detail -->
			<div class="rowInformationDetail">
				<h2>Về sản phẩm</h2>
				<div class="panel panel-danger">
					<div class="panel-heading">
						<div class="container-fluid">
							<div class="col-md-8">
								<h3>Thông tin chi tiết</h3>
							</div>
							<div class="col-md-4">
								<h3>Cấu hình chi tiết</h3>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="col-md-8">
							<h3>Thông tin chi tiết</h3>
						</div>
						<div class="col-md-4">
							<h3>Cấu hình chi tiết</h3>
						</div>
					</div>
				</div>
			</div><!-- /row information detail -->
		</div>
	</div><!-- /main -->









	<!-- JS Plugin -->
	<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="assets/js/slick.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/lightslider-master/src/js/lightslider.js"></script>
	<!-- JS Design -->
	<script type="text/javascript" src="assets/js/write.js"></script>
</body>
</html>