<br><br><br>
<div class="container">
  <div class="panel panel-danger" *ngIf="showProduct">
      <div class="panel-heading">
        <h3 class="panel-title">Product Detail</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
   
          <img src="{{showProduct.images}}" class="img-responsive" alt="Image">
          
         </div>
         <div class="col-md-4">
           <h3>Name Product: {{showProduct.title}}</h3>
           <p>Quantity: {{showProduct.quantity}}</p>
           <p>Discount: {{showProduct.discount}}</p>
           <p>CreateAt: {{showProduct.createdAt}}</p>
           <p>UpdateAt: {{showProduct.updatedAt}}</p>
           <p>Price: {{showProduct.price}}</p>
           <p>Price: {{showProduct.category}}</p>
           <br>
           <button 
              type="button" 
              class="btn btn-danger"
              [routerLink]="['/cart', { id:showProduct._id }]"
           >Add to cart</button>
           <button type="button" class="btn btn-info" routerLink="/index">Back Home</button>
         </div>
      </div>
  </div>
  
</div>

<!-- [routerLink]="['/cart', { id:product.id }]" -->
