<div id="headerDetail">
  <app-header></app-header>
</div>

<!-- main -->
<div id="main">
  <div class="container">
    <div class="rowTitleLink-detail">
      <a routerLink="/index">Trang chủ</a> // <a> Chi tiết sản phẩm </a> // <a>Check cart</a>
    </div>
    
    <!-- <div class="alert alert-danger" *ngIf="showCheckQty">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Error!</strong> Quá giới hạng số lượng sản phẩm hiện có ...
    </div> -->

    <!-- check add to cart -->
    <div class="checkAddToCart" *ngIf="checkCartNull; else showCheckNull">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Option</th>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of listAddToCart">
            <td align="center">
              <button 
                type="button" 
                class="btn btn-danger"
                (click)="remove(item.productCart._id)"
              ><i class="fas fa-trash-alt"></i>
              </button>
            </td>
            <td>{{ item.productCart._id }}</td>
            <td>{{ item.productCart.title }}</td>
            <td>
              <img src="{{ item.productCart.images[0] }}" width="50">
            </td>
            <td>{{ item.productCart.price | currency:' ':'symbol':'2.3-6'  }}</td>
            <td>
              <button 
                type="button" 
                class="btn btn-default"
                (click)="addProduct(item.productCart._id)"
              ><i class="fas fa-plus"></i>
              </button>
                {{ item.quantity }}
              <button 
                type="button" 
                class="btn btn-default"
                (click)="subProduct(item.productCart._id)"
              ><i class="fas fa-minus"></i>
              </button>
            </td>
            <td>{{ item.productCart.price * item.quantity | currency:' ':'symbol':'2.3-6' }}</td>
          </tr>

          <tr>
            <td colspan="6" align="right">Total</td>
            <td>{{total | currency:' ':'symbol':'2.3-6' }} Đồng</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button 
      type="button" 
      class="btn btn-info pull-right"
      style="margin-bottom:2em"
      routerLink="/checkout"
    >Thanh Toán
    </button><br>

    <ng-template #showCheckNull>
      <div class="container showCheckNull">
        <img src="./../../../../assets/theme/images/giohangtrong.png" class="img-responsive" alt="Image">
        
        <div class="text-center showCheckNull-content">
          <h2 >Giỏi hàng chưa có sản phẩm</h2>
          <button type="button" class="btn btn-default btn-checkNull" routerLink="/index">Quay lại trang chủ</button>
        </div>
      </div>
    </ng-template>
    <!-- /check add to cart -->
  </div>
</div><!-- /main -->

<app-footer></app-footer>