<ul class="navPrimaryOne">
    <li>Tivi và thiết bị thông minh
      <div class="content-nav">
        <div class="contentNav-list">
          <div class="row">
            <div class="col-md-2">
              Tivi bán chạy >
            </div>
            <div class="col-md-6">
              <div>Dưới 44 inch</div>
              <div>44 đến 49 inch</div>
              <div>50 đến 59 inch</div>
              <div>60 đến 69 inch</div>
              <div>Trên 69 inch</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Tivi bán chạy >
            </div>
            <div class="col-md-6">
              <div>Dưới 44 inch</div>
              <div>44 đến 49 inch</div>
              <div>50 đến 59 inch</div>
              <div>60 đến 69 inch</div>
              <div>Trên 69 inch</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Smart Tivi >
            </div>
            <div class="col-md-6">
              <div>Dưới 44 inch</div>
              <div>44 đến 49 inch</div>
              <div>50 đến 59 inch</div>
              <div>60 đến 69 inch</div>
              <div>Trên 69 inch</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              QLED / QLED Tivi >
            </div>
            <div class="col-md-6">
              <div>Dưới 44 inch</div>
              <div>44 đến 49 inch</div>
              <div>50 đến 59 inch</div>
              <div>60 đến 69 inch</div>
              <div>Trên 69 inch</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              LCD/ LED Tivi >
            </div>
            <div class="col-md-6">
              <div>Dưới 44 inch</div>
              <div>44 đến 49 inch</div>
              <div>50 đến 59 inch</div>
              <div>60 đến 69 inch</div>
              <div>Trên 69 inch</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              UHD 4K Tivi >
            </div>
            <div class="col-md-6">
              <div>Dưới 44 inch</div>
              <div>44 đến 49 inch</div>
              <div>50 đến 59 inch</div>
              <div>60 đến 69 inch</div>
              <div>Trên 69 inch</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Internet Tivi >
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Thương hiệu Tivi >
            </div>
            <div class="col-md-6">
              <div>LG</div>
              <div>Panesonic</div>
              <div>Samsung</div>
              <div>Sharp</div>
              <div>Sony</div>
              <div>TCL</div>
              <div>Toshiba</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Tivi theo giá tiền >
            </div>
            <div class="col-md-6">
              <div>Dưới 10 triệu</div>
              <div>10 đến 20 triệu</div>
              <div>20 đến 30 triệu</div>
              <div>30 đến 40 triệu</div>
              <div>Trên 40 triệu</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Thiết bị thông minh >
            </div>
            <div class="col-md-6">
              <div>Đèn cảm ứng</div>
              <div>Chăm sóc sức khỏe</div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>Hàng cao cấp gaming</li>
    <li>PC và Linh kiện
      <div class="content-nav">
        <div class="contentNav-list">
          <div class="row">
            <div class="col-md-2">
              Tivi bán chạy >
            </div>
            <div class="col-md-6">
              <div>Dưới 44 inch</div>
              <div>44 đến 49 inch</div>
              <div>50 đến 59 inch</div>
              <div>60 đến 69 inch</div>
              <div>Trên 69 inch</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Tivi bán chạy >
            </div>
            <div class="col-md-6">
              <div>Dưới 44 inch</div>
              <div>44 đến 49 inch</div>
              <div>50 đến 59 inch</div>
              <div>60 đến 69 inch</div>
              <div>Trên 69 inch</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Smart Tivi >
            </div>
            <div class="col-md-6">
              <div>Dưới 44 inch</div>
              <div>44 đến 49 inch</div>
              <div>50 đến 59 inch</div>
              <div>60 đến 69 inch</div>
              <div>Trên 69 inch</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              QLED / QLED Tivi >
            </div>
            <div class="col-md-6">
              <div>Dưới 44 inch</div>
              <div>44 đến 49 inch</div>
              <div>50 đến 59 inch</div>
              <div>60 đến 69 inch</div>
              <div>Trên 69 inch</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              LCD/ LED Tivi >
            </div>
            <div class="col-md-6">
              <div>Dưới 44 inch</div>
              <div>44 đến 49 inch</div>
              <div>50 đến 59 inch</div>
              <div>60 đến 69 inch</div>
              <div>Trên 69 inch</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              UHD 4K Tivi >
            </div>
            <div class="col-md-6">
              <div>Dưới 44 inch</div>
              <div>44 đến 49 inch</div>
              <div>50 đến 59 inch</div>
              <div>60 đến 69 inch</div>
              <div>Trên 69 inch</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Internet Tivi >
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Thương hiệu Tivi >
            </div>
            <div class="col-md-6">
              <div>LG</div>
              <div>Panesonic</div>
              <div>Samsung</div>
              <div>Sharp</div>
              <div>Sony</div>
              <div>TCL</div>
              <div>Toshiba</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Tivi theo giá tiền >
            </div>
            <div class="col-md-6">
              <div>Dưới 10 triệu</div>
              <div>10 đến 20 triệu</div>
              <div>20 đến 30 triệu</div>
              <div>30 đến 40 triệu</div>
              <div>Trên 40 triệu</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Thiết bị thông minh >
            </div>
            <div class="col-md-6">
              <div>Đèn cảm ứng</div>
              <div>Chăm sóc sức khỏe</div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>Laptop và linh kiện, Macbook</li>
    <li>Màn hình máy tính</li>
    <li>Thiết bị ngoại vi</li>
    <li>Văn phòng, Mạng, An ninh</li>
    <li>Phần mền và Phụ kiên</li>
    <li>Hàng Trưng Bày</li>
    <li>Deal choáng ngợp</li>
    <li>PVMail - ACER</li>
    <li>PVMail - AMD</li>
    <li>PVMail - MICROSOFT</li>
    <li>PVMail - WESTERN DIGITAL</li>
</ul>